
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.background {
  background-image: url('../assets/Vortex\ -\ Login\ –\ 1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, "Roboto", sans-serif;
}
