<div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="50%" id="user-info">
            <div fxFlex="50%" fxLayout>
                <div fxFlex="7.5%"></div>
                <div fxFlex="30%" fxLayout="column" fxLayoutAlign="start end">
                    <h4>Navn</h4>
                    <h4>Fødselsdato</h4>
                    <h4>Adresse</h4>
                    <h4>By</h4>
                    <h4>Email</h4>
                    <h4>Password</h4>
                </div>
                <div fxFlex="55%" fxLayout="column" fxLayoutAlign="start start">
                    <p>Nicolai C Mikkelsen</p>
                    <p>27/3/1979</p>
                    <p>Ulriksholmvej 55</p>
                    <p>2990, Nivå</p>
                    <p>nmikkelsen@outlook.com</p>
                    <p>************</p>
                </div>
            </div>
            <div fxFlex="50%">
                <div fxFlex="50%" fxLayout="column" fxLayoutAlign="start end">
                    <h4>Vortex nummer</h4>
                    <h4>Vortex type</h4>
                    <h4>Inregistering</h4>
                    <h4>Nuværende placering</h4>
                </div>
                <div fxFlex="30%" fxLayout="column" fxLayoutAlign="start start">
                    <p>011095-3607</p>
                    <p>Prototype</p>
                    <p>YK 18 134</p>
                    <p>Ringsted</p>
                </div>
            </div>
        </div>

        <div fxFlex="50%" id="status-one">
            <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
                <h3>Tilstand</h3>
                <p>Vand Mode</p>
            </div>
            <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
                <h3>Vandstand</h3>
                <p>35cm</p>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="50%">
            <img id="map" src="../../../assets/Map.png" alt="">
        </div>
        <div fxFlex="50%" id="status-two">
            <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
                <h3>Kompasretning</h3>
                <p>284°</p>
            </div>
            <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
                <h3>Temperatur</h3>
                <p>3°C</p>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="50%" fxFlexOffset="50%" id="status-three">
            <div fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
                <h3>Tilstand</h3>
                <p>I Går</p>
            </div>
        </div>
    </div>
</div>